<div class="jumbotron">
    <h1>Single Page Application (SPA)</h1>
    <p>
        This is a <strong>Single Page Application</strong> real time online demo provided by TechFunda.com.
    </p>
    Click on <b><i>Single Page Application</i></b> menu at the top to proceed further.
    <br />    
    <p>Download the complete source code from <a href="http://techfunda.com/Howto/angularjs/single-page-application" target="_blank" title="Single Page Application How to tutorials">here</a>.</p>
    
</div>
